a:visited {
    color: maroon;
}

button {
    cursor: pointer;
}

footer {
    height: 25px;
    width: 100%;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-title {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.time-since {
    color: #a4a4a4;
    font-weight: 200;
    font-size: 1rem;
}

.header {
    font-weight: 200;
}
