button {
    cursor: pointer;
}

footer {
    height: 25px;
    width: 100%;
}

.danger {
    color: red;
}

.feed-detail-header {
    margin-bottom: 0;
}

.feed-detail-options {
    padding: 0;
}

.feed-detail-options > .nav-item {
    font-weight: 300;
    padding-top: 0;
}

.entry {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.entry-href-summary-container {
    display: flex;
    align-items: baseline;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.entry-summary {
    color: #636363;
    display: flex;
    font-size: .85em;
}

.entry-title {
    padding-right: 10px;
}

.time-since {
    color: #a4a4a4;
    font-size: 1rem;
    font-weight: 200;
}

.header {
    font-weight: 200;
}
