<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Feedthing</title>
        <style>
            .bold {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'feeds:index' %}">Feeds</a>
                    <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
        {% block body %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
