{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h1>Index</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <label>
                Feed URL
                <input name="href" type="url" required>
            </label>
            <button type="submit">Add</button>
        </form>
        <form action="{% url 'mark_read' %}" method="POST">
            {% csrf_token %}
            {% if feeds %}
                {% for feed in feeds %}
                    <h4>{{ feed.title }}</h4>
                    {% if feed.entries %}
                        <table>
                            <tbody>
                                {% for entry in feed.entries %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" title="Mark as read" name="entries" value="{{ entry.uid }}">
                                        </td>
                                        <td>
                                            <a target="_blank" rel="noopener noreferrer" href="{{ entry.href }}" class="entry{% if not entry.read %} bold{% endif %}">
                                                {{ entry.title }}
                                            </a>
                                        </td>
                                        <td title="{{ entry.published }}">
                                            {{ entry.natural_published }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <button type="submit">Update</button>
        </form>
        <form action="{% url 'import_opml' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="opml_file">
            <button type="submit">Import</button>
        </form>
    {% endif %}
{% endblock %}
