{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h1>Index</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <label>
                Feed URL
                <input name="href" type="url" required>
            </label>
            <button type="submit">Add</button>
        </form>
        {% if feeds %}
            <ul>
                {% for feed in feeds %}
                    <li>
                        {{ feed.title }}
                        {% if feed.entries %}
                            <ul>
                                {% for entry in feed.entries %}
                                    <li>
                                        <a
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            href="{{ entry.href }}"
                                            class="entry{% if not entry.read %} bold{% endif %}">{{ entry.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
