{% extends 'base.html' %}
{% load static %}
{% block body %}
    <table class="table entry-table">
        <caption>
            {% if feed.html_href %}
                <a href="{{ feed.html_href }}">{{ feed.title }}</a>
            {% else %}
                {{ feed.title }}
            {% endif %}
        </caption>
        <tbody>
            {% if feed.entries %}
                {% for entry in feed.entries %}
                    <tr>
                        <td>
                            <a target="_blank" rel="noopener noreferrer" href="{{ entry.href }}" class="entry" title="{{ entry.title }}">
                                {{ entry.title }}
                            </a>
                        </td>
                        <td title="{{ entry.published }}" class="right">
                            {{ entry.natural_published }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
