{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="row">
        <div class="col">
            <form action="{% url 'feeds:index' %}" method="POST">
                {% csrf_token %}
                <section class="row">
                    <div class="col">
                        <label for="id_href">Feed URL</label>
                        <input id="id_href" name="href" type="url" autofocus required>
                        <button type="submit">Add</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
    {% if feeds %}
        {% for feed in feeds %}
            <div class="entry">
                <a title="{{ feed.title }}" class="entry-title" href="{% url 'feeds:detail' feed.uid %}" target="_blank" rel="noopener noreferrer">{{ feed.title }}</a>
                <span title="{{ feed.last_fetch }}" class="time-since">{{ feed.natural_last_fetch }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
