{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="row">
        <div class="col">
            <form action="{% url 'feeds:index' %}" method="POST">
                {% csrf_token %}
                <section class="row">
                    <div class="col">
                        <label for="id_href">Feed URL</label>
                        <input id="id_href" name="href" type="url" autofocus required>
                        <button type="submit">Add</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
    {% if feeds %}
        <ul>
            {% for feed in feeds %}
                <li>
                    <a href="{% url 'feeds:detail' feed.uid %}">{{ feed.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
