{% extends 'base.html' %}
{% block body %}
    {% if form.errors %}
        <section class="row">
            <div class="col">
                <p>Your email and password didn't match. Please try again.</p>
            </div>
        </section>
    {% endif %}
    <section class="row">
        <div class="col">
            <form action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                <section class="row">
                    <div class="col">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </section>
                <section class="row">
                    <div class="col">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </section>
                <section class="row">
                    <div class="col">
                        <button type="submit">Login</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
{% endblock %}
