{% extends 'base.html' %}
{% block body %}
    {% if form.errors %}
        <section class="row">
            <div class="col">
                <p>Your email and password didn't match. Please try again.</p>
            </div>
        </section>
    {% endif %}
    <section class="row">
        <div class="col">
            <form action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                <section class="row">
                    <div class="col">
                        <label for="id_email">Email</label>
                        <input id="id_email" name="email" type="email" autofocus required>
                    </div>
                </section>
                <section class="row">
                    <div class="col">
                        <label for="id_password">Password</label>
                        <input id="id_password" name="password" type="password" required>
                    </div>
                </section>
                <section class="row">
                    <div class="col">
                        <button type="submit">Login</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
{% endblock %}
